@import 'nib'

#landingLogo {
    clear: both;
    text-align: center;
    padding: 40px 40px 20px 40px;
    font-weight: normal;
}

.account-header #landingLogo {
    font-size: 35px;
    padding: 12px;
}

.whiteBg {
    background:white;
}

#Team {
    margin: 20px auto;
    max-width: 890px;
    position: relative;
    font-family: "jaf-facitweb", "Helvetica Neue", Arial, sans-serif;
    color: #4d4d4d;

    .developer {
        display: inline-block;
        vertical-align: top;
        width: 250px;

        img {
            width: 150px;
            border: 1px solid #c7c7c7;
            border-radius: 4px;
        }
    }

    .section-wrapper p {
        font-weight: 300;
        line-height: 1.44em;
        padding-bottom: 30px;
    }


    h4 {
        font-size: 20px;
    }

    i {
        font-size: 25px;
        margin-right: 5px;
    }
}

.width-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: border-box;
}
