// Currently not used

.aging-regular.aging-level-0 {
    opacity: 1;
}

.aging-regular.aging-level-1 {
    opacity: .75;
}

.aging-regular.aging-level-2 {
    opacity: .5;
}

.aging-regular.aging-level-3 {
    opacity: .25;
}

.aging-pirate {
    background-position: top left, top right;
    background-repeat: no-repeat;
}

.aging-pirate .list-card-details {
    background-position: bottom left, bottom right;
    background-repeat: no-repeat;
}

.aging-pirate.aging-level-1 {
    background-color: #faf6ef;
    background-image: url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/53102e7b253303f6eb34f3622da9bb32/TopLeftLevel1.png), url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/b6830a5537c94f982a32b280cff6b97d/TopRightLevel1.png);
    -webkit-box-shadow: inset 0 0 15px rgba(205, 172, 132, .4);
    box-shadow: inset 0 0 15px rgba(205, 172, 132, .4);
}

.aging-pirate.aging-level-1 .list-card-operation {
    background-color: #faf6ef;
}

.aging-pirate.aging-level-1 .list-card-cover, .aging-pirate.aging-level-1 .list-card-stickers-area .stickers {
    opacity: .75;
}

.aging-pirate.aging-level-1 .list-card-details {
    background-image: url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/accbe663e1d810cfb14d7e978845e27f/BottomLeftLevel1.png), url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/2fdf1b0eadc4b04edaece4c4b41aa699/BottomRightLevel1.png);
}

.aging-pirate.aging-level-1.has-stickers .list-card-details {
    background-color: rgba(250, 246, 239, .7);
}

.aging-pirate.aging-level-1.active-card, .aging-pirate.aging-level-1.active-card .list-card-operation {
    background-color: #f4ead7;
}

.aging-pirate.aging-level-1.active-card.has-stickers .list-card-details {
    background-color: rgba(244, 234, 215, .7);
}

.aging-pirate.aging-level-2 {
    background-color: #f6eedf;
    background-image: url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/18f4120762d23b79c07e5fda7a2056d0/TopLeftLevel2.png), url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/c74a8a1f361b08433f2a8b05470917c3/TopRightLevel2.png);
    -webkit-box-shadow: inset 0 0 25px rgba(205, 172, 132, .5);
    box-shadow: inset 0 0 25px rgba(205, 172, 132, .5);
}

.aging-pirate.aging-level-2 .list-card-operation {
    background-color: #f5ecdb;
}

.aging-pirate.aging-level-2 .list-card-cover, .aging-pirate.aging-level-2 .list-card-stickers-area .stickers {
    opacity: .5;
}

.aging-pirate.aging-level-2 .list-card-details {
    background-image: url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/602baf1ea202cc5f5c34a30bd5e364f4/BottomLeftLevel2.png), url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/ac74c3df4a788a4eeb59d8a0f6d0f235/BottomRightLevel2.png);
}

.aging-pirate.aging-level-2.has-stickers .list-card-details {
    background-color: rgba(246, 238, 223, .7);
}

.aging-pirate.aging-level-2.active-card, .aging-pirate.aging-level-2.active-card .list-card-operation {
    background-color: #efe1c8;
}

.aging-pirate.aging-level-2.active-card.has-stickers .list-card-details {
    background-color: rgba(239, 225, 200, .7);
}

.aging-pirate.aging-level-3 {
    background-color: #efe1c8;
    background-image: url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/194454130e88f74111874a8935ecf3ba/TopLeftLevel3.png), url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/8c21cb29b9a909eecc47678db2ef1654/TopRightLevel3.png);
    -webkit-box-shadow: inset 0 0 40px rgba(205, 172, 132, .6);
    box-shadow: inset 0 0 40px rgba(205, 172, 132, .6);
}

.aging-pirate.aging-level-3 .list-card-operation {
    background-color: #efe1c8;
}

.aging-pirate.aging-level-3 .list-card-cover, .aging-pirate.aging-level-3 .list-card-stickers-area .stickers {
    opacity: .25;
}

.aging-pirate.aging-level-3 .list-card-details {
    background-image: url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/d4bb1b3ae5fd2aef9beaf2600113073f/BottomLeftLevel3.png), url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/5737b3080b474c0d96439d6852e31ec3/BottomRightLevel3.png);
}

.aging-pirate.aging-level-3.has-stickers .list-card-details {
    background-color: rgba(239, 225, 200, .7);
}

.aging-pirate.aging-level-3.active-card, .aging-pirate.aging-level-3.active-card .list-card-operation {
    background-color: #e8d4b0;
}

.aging-pirate.aging-level-3.active-card.has-stickers .list-card-details {
    background-color: rgba(232, 212, 176, .7);
}

.aging-pirate.aging-level-3.aging-treasure .list-card-details {
    background-position: bottom left, bottom right, bottom 1px right 10px;
    background-image: url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/d4bb1b3ae5fd2aef9beaf2600113073f/BottomLeftLevel3.png), url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/5737b3080b474c0d96439d6852e31ec3/BottomRightLevel3.png), url(https://d78fikflryjgj.cloudfront.net/images/powerups/card-aging/85890fb25d1b8909c095b39344a5e804/BottomRightLevel3Treasure.png);
}
