.icon-lg,
.icon-sm {
    color: #a6a6a6;
    display: inline-block;
    line-height: 1;
    text-align: center;
    text-decoration: none

    &.custom-image {
        text-indent: 100%;
        overflow: hidden

        img {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0
        }
    }
}

.icon-lg.dark,
.icon-sm.dark,
.icon-lg.dark-hover:hover,
.icon-sm.dark-hover:hover,
.dark-hover:hover .icon-lg,
.dark-hover:hover .icon-sm {
    color: #686868;
    text-decoration: none
}

.icon-lg.light,
.icon-sm.light,
.icon-lg.light-hover:hover,
.icon-sm.light-hover:hover,
.light-hover:hover .icon-lg,
.light-hover:hover .icon-sm {
    color: #fff;
    text-decoration: none
}

.icon-sm {
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    width: 18px
}

.icon-lg {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    width: 30px
}

.fa-lock {
    color: #990f0f
}

.dark-hover:hover .fa-lock,
.fa-lock.dark-hover:hover {
    color: #7d0c0c
}

.icon-sm.fa-globe {
    color: #3d990f
}

.dark-hover:hover .fa-globe,
.fa-globe.dark-hover:hover {
    color: #327d0c
}

.emoji {
    height: 18px;
    width: 18px;
    vertical-align: text-bottom
}
